<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=localhost;Initial Catalog=EDF;User Id=sa;Password=sa;" />
  </connectionStrings>
  <appSettings>
    <add key="BOCUrl" value=""/>
    <add key="SGBUrl" value=""/>
  </appSettings>
</configuration>